<div style="min-width: 1000px">
  <mat-toolbar style="background-color: #808080">
    <div class="row w-100">
      <div class="col">
        <div class="row no-gutters">
          <div class="col">
            <span>
              <input type="text" placeholder="Keyword">
            </span>
          </div>
          <div class="col">
            <span>
              <button class="add-btn search-btn">
                <span style="color: white">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <p class="pt-3 font-weight-normal">Resource Catalog</p>
      </div>
      <div class="col text-right px-0">
        <button class="add-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span style="color: white">
            <i class="fas fa-plus"></i>
          </span>
        </button>
        <div id="dropdown-menu-size" class="dropdown-menu dropdown-menu-right shadow text-secondary mr-0 mt-auto">
          <a class="dropdown-item btn" id="dropdown-item-padding" (click)="addNewRow()">
            <div class="row w-100">
              <div class="col-5 text-center"><i class="fas fa-align-left"></i></div>
              <div class="col-7 text-left px-0">Add Row</div>
            </div>
          </a>
          <a class="dropdown-item" id="dropdown-item-padding">
            <div class="row w-100">
              <div class="col-5 text-center"><i class="fas fa-columns"></i></div>
              <div class="col-7 text-left px-0">Add Column</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-table [dataSource]="dataSource" class="table-border">

    <!-- Resource Name Column -->
    <ng-container matColumnDef="resourceName">
      <mat-header-cell *matHeaderCellDef> RESOURCE NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element["name"]}} </mat-cell>
    </ng-container>

    <!-- Resource Code Column -->
    <ng-container matColumnDef="resourceCode">
      <mat-header-cell *matHeaderCellDef> RESOURCE CODE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element["code"]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>