.table-container {
    overflow-x: scroll;
    width: 1300px;
}

table {
    border: 1px solid #e6e6e6;
    width: 2000px;
}

.mat-toolbar-single-row {
    height: 50px;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto 1 auto 1;
}

button {
    border: none;
    outline: none;
}

.add-btn {
    background: #ef662e;
    width: 35px;
    height: 35px
}

.search-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tick-icon{
    color: white;
    position: sticky;
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
    height: 10px;
}

.times-icon {
    color: white;
    position: sticky;
    top: 45%;
    margin-left: 25%;
    display: block;
    transform: translate(-50%, -50%);
    height: 10px;
}

.flex-container {
    display: flex;
    margin-right: 5px;
}

.flex-container > button {
    width: 21px;
    height: 21px;
    margin: 2px;
    background: #ef662e;
    border-radius: 50%;
    line-height: 7px;
}

.flex-container > button:hover {
    background: #ff9033;
}

button:hover {
    background: #ff9033;
}

input[type="text"] {
    font-size: 15px;
    padding: 5px;
    outline: none;
}

#search-input {
    width: 218px;
    height: 35px;
    border: none;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

#new-resource-input {
    border: 1.5px #ef662e solid;
    width: 85%;
}

.row {
    display: flex;
    align-items: center;
}

.mat-header-cell {
    background-color: #ebedf0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid #dddedf;
}

.mat-header-row {
    min-height: 40px;
}

.mat-cell {
    font-size: 20px;
    font-weight: lighter;
}

.mat-row {
    border: none;
}

.dropdown-toggle::after {
    display:none;
}

.dropdown-menu {
    border-radius: none;
}

#dropdown-item-padding {
    padding: .25rem .5rem;
}

#dropdown-menu-size {
    min-width: 201px;
    border-radius: 0px;
}