.login {
    width: 400.1px;
    padding: 50px 30px;
    border-radius: 10px;
}

.ng-valid[required], .ng-valid.required  {
    border: 1px solid #42A948;
}
    
.ng-invalid:not(form)  {
    border: 1px solid #dc3545;
}

.ng-untouched[required] {
    border: 1px solid #ced4da;
}

.invalid {
    font-size: 15px;
    color: #dc3545;
}

.login-logo {
    text-shadow: 1px 1px gray;
    color: #F48132;
}

.login-btn {
    background-color: #FF4400;
    color: white;
    border-radius: 0px;
}

input[type="email"], input[type="password"] {
    background: #FAFFBD;
    border-radius: 0px;
}

a {
    color: black;
}