<div style="width: 80vw">
  <p class="select">
    <mat-form-field>
      <mat-select placeholder="Project" (selectionChange)="selectedProject($event)" [(ngModel)]="currentProjectId">
        <!-- <mat-option>
          <ngx-mat-select-search [formControl]="projectFilterCtrl"></ngx-mat-select-search>
        </mat-option> -->

        <mat-option *ngFor="let project of projects" [value]="project.id">
          {{ project.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <mat-toolbar style="background-color: #808080">
    <div class="row w-100">
      <div class="col text-left">
        QUANTITY SURVEY
      </div>
    </div>
  </mat-toolbar>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" >
    <!-- Resource Name Column -->
    <ng-container matColumnDef={{displayedColumns[0]}} >
      <mat-header-cell *matHeaderCellDef [hidden]="!this.formulaService.iFCheck[0]"> NAME </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index" [hidden]="!this.formulaService.iFCheck[0]">
        <input type="text" [value]="element.name" (change)="onEdit($event.target.value,'name', i)">
      </mat-cell>
    </ng-container>
   
    

    <!-- Resource Code Column -->
    <ng-container matColumnDef="resourceCode">
      <mat-header-cell *matHeaderCellDef [hidden]="!this.formulaService.iFCheck[1]"> COST_CODE </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index" [hidden]="!this.formulaService.iFCheck[1]">
        <input type="text" [value]="element.code" (change)="onEdit($event.target.value, 'code', i)">
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let feature of displayedColumns | slice: 2;let y = index">
      <ng-container matColumnDef={{feature}}>
        <mat-header-cell *matHeaderCellDef> {{feature}} </mat-header-cell>
        <mat-cell *matCellDef="let element; let x = index">
          <div *ngIf="element.features[y] !== undefined">
            <input type="text" [value]="element.features[y].featureValue.value" (change)="onEdit($event.target.value, y, x, feature)">
          </div>
          <div *ngIf="element.features[y] === undefined">
            <input type="text" (change)="onEdit($event.target.value, y, x, feature)">
          </div>
        </mat-cell>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>

<div style="width: 80vw">
  <div class="row mt-3 px-4">
    <div class="col text-left">
      <a routerLink="/template" class="font-weight-bold">Edit Quantity Servey Template</a>
    </div>
    <div class="col text-right">
      <button class="submit-btn font-weight-light small py-1" (click)="submit()">
        <i class="fas fa-check fa-sm"></i>Submit
      </button>
    </div>
  </div>
</div>