<div style="min-width: 1000px">
  <mat-toolbar style="background-color: #808080">
    <div class="row w-100">
      <div class="col">
        <div class="row no-gutters">
          <div class="col">
            <span>
              <input type="text" placeholder="Keyword">
            </span>
          </div>
          <div class="col">
            <span>
              <button class="add-btn search-btn">
                <span style="color: white">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <p class="pt-3">Resource Catalog</p>
      </div>
      <div class="col text-right">
        <button class="add-btn"><span style="color: white">
          <i class="fas fa-plus"></i></span>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Resource Name Column -->
    <ng-container matColumnDef="resourceName">
      <mat-header-cell *matHeaderCellDef> RESOURCE NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element["name"]}} </mat-cell>
    </ng-container>

    <!-- Resource Code Column -->
    <ng-container matColumnDef="resourceCode">
      <mat-header-cell *matHeaderCellDef> RESOURCE CODE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element["code"]}} </mat-cell>
    </ng-container>

    <ng-container *ngFor="let feature of displayedColumns | slice: 2;let i = index">
      <ng-container matColumnDef={{feature}}>
        <mat-header-cell *matHeaderCellDef> {{feature}} </mat-header-cell>
        <mat-cell *matCellDef="let element;">
          <div *ngIf="element['features'][i] !== undefined">
            {{element["features"][i]["featureValue"]["value"]}}
          </div>
        </mat-cell>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
