.custom-container {
    width: 700px;
    padding: 50px 30px;
    border-radius: 10px;
    
}
.row{
    background-color: #ebebeb;
}
input.ng-invalid.ng-touched {
    border: 1px solid red;
}
/*input.formulaInvalid {*/
/*    border: 1px solid red;*/
/*}*/
