<div class="custom-container">
  <div class="row">
      <div class="col-3">
    <table class="table table-striped ">
    <thead>
        <tr class="row">
            <th class="col-sm-12">
              Project Scope Fields
            </th>
           
        </tr>
        <tr class="row">
            <th class="col-sm-10" > name</th>
            <th class="col-sm-2">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
            </th>
        </tr>
        <tr class="row">
            <th class="col-sm-10">cost_code</th>
            <th class="col-sm-2">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
            </th>
        </tr>
        <tr class="row">
            <th class="col-sm-10">editable</th>
            <th class="col-sm-2">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
            </th>
        </tr>
        <tr class="row">
            <th class="col-sm-10">item_id</th>
            <th class="col-sm-2">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
            </th>
        </tr>
    </thead>
</table>
</div>
<div class="col-1">

</div>
<div class="col-8">
    <table class="table table-striped ">
    <thead>
        <tr class="row">
            <th class="col-sm-12" >
              Quantity Survey Fields
            </th>
           
        </tr>
     
            <tr *ngFor="let number of numbers " class="row">
                <th class="col-sm-3">
                  <div>Field</div>
                  <input type="text" size="10" name="field">
                </th>
                <th class="col-sm-3">
                    <div>Type</div>
                    <select class="mdb-select md-form colorful-select dropdown-primary" name="select" >
                        <option value="number" name="number">Number</option>
                        <option value="text" name="text">Text</option>
                        <option value="formula" name="formula" >Formula</option>
                        
                      </select>
                      
                  </th>
                  <th class="col-sm-4">
                      <div ></div>
                  </th>
                
                  <th class="col-sm-2">
                      <div class="float-right" (click)="reduce()"><button><i class="fa fa-trash " aria-hidden="true"></i></button></div>
                    </th>
                
            </tr>
  
        
      
        <tr class="row">
            <th class="col-sm-12">
                    <div class="float-right" (click)="add()">Add Field <button><i class="fas fa-plus"></i></button></div>
                  </th>
        </tr>
        
    </thead>
</table>
</div>



</div>

</div>